html, body {
  margin: 0;
  padding: 0;
}

.jumbo {
  height: calc(100vh - 100px);
  width: 100%;
}

.mobile-banner {
  background-color: #353A50;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mockups {
  height: 300px;
  margin: 50px;
}

.mockup-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h {
  color: white;
  font-family: Gibson, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
}

h1 {
  color: white;
  font-family: Gibson, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.badges {
  margin-top: 20px;
}

.download-badge {
  height: 60px;
  cursor: pointer;
}