html, body {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px !important;
  padding-right: 40px !important;
  
  height: 65px;
  background-color: #353A50 !important;
}

.logo {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.logo-full {
  display: block;
  height: 30px;
}

.logo-icon {
  display: none;
}

.main-link {
  color: white !important;
}

.navbar-light .navbar-toggler {
  border: 0px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/SVG/toggle.svg");
}

.custom-item {
  font-family: Gibson, sans-serif;
}

.custom-item:hover {
  text-decoration: underline;
}

.search-bar1 {
  height: 32px;
  width: 300px !important;
  margin-left: 0.5rem!important;
  margin-right: -1px !important;
  border-radius: 8px 0 0 8px;
  border: solid 1px #353A50 !important;
  
  padding-left: 30px;
  background: url("../images/SVG/search.svg");
  background-position: 8px 6px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: white;
  
  font-family: Gibson, sans-serif;
}

.search-bar2 {
  height: 32px;
  margin-right: -1px !important;
  border-radius: 0;
  border: solid 1px #353A50 !important;
  
  padding-left: 28px;
  background: url("../images/SVG/pin.svg");
  background-position: 6px 6px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-color: white;
  
  font-family: Gibson, sans-serif;
}

.search-btn {
  height: 32px;
  width: 100px;
  background-color: #1F2333 !important;
  color: white;
  border-radius: 0 8px 8px 0;
  border: 0px;
  
  font-family: Gibson, sans-serif;
  line-height: 20px;
}

.search-btn:hover {
  background-color: black !important;
}

.sub-nav {
  background-color: #FFCC00;
  height: 35px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
  
.custom-item2 {
  height: 35px;
  font-family: Gibson, sans-serif;
  font-size: 15px;
  line-height: 35px;
}

.sub-link {
  color: black !important;
  margin-left: 8px;
  margin-right: 20px;
  font-weight: 400;
}

.filler {
  display: none;
}

.bar2 {
  display: none;
}

.navbar-collapse {
  background-color: #353A50;
}

@media screen and (max-width: 1100px) {
  .bar1 .search-bar1 {
    max-width: 200px !important;
    width: auto !important;
  }
  .bar1 .search-bar2 {
    max-width: 190px !important;
    width: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    padding: 20px;
    border-bottom: solid 10px #FFCC00;
  }
}

@media screen and (max-width: 775px) {
  .main-nav {
    height: 120px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .bar1 {
    display: none;
  }
  .bar2 {
    display: flex;
    width: 100%;
  }
  .bar2 .search-bar1 {
    width: 47% !important;
  }
  .bar2 .search-bar2 {
    width: 30% !important;
  }
  .bar2 .search-btn {
    width: 20% !important;
  }
  .sub-nav {
    height: 10px;
  }
  .sub-list {
    display: none;
  }
  .navbar-collapse {
    border-bottom: solid 10px #FFCC00;
  }
}

@media screen and (max-width: 575px) {
  .main-nav {
    padding-top: 12px !important;
  }
}