body {
    font-family: Gibson, sans-serif;
    margin: 0;
    padding: 0;
}

.search-results {
    margin: 3em;
  }

  .searchResultsHeader {
      color: #353A50;
      margin-bottom: 10px;
  }

  .btn-group {
      width: max-content;
  }


  .btn-secondary {
  color: #353A50;
  background-color: #fff;

}

.input-group-text {
    background-color: white;
}

.col {
    padding-right: 2px;
    padding-left: 2px;
}

.fa-dollar-sign:before {
    color:#353A50;
}
.fa-calendar-alt:before {
    color:#353A50;
}

.fa-sliders-h:before {
    color:#353A50;
}
  

#dropdown {
    margin-right: -25px;
    margin-left: 2px;
}
  
  .container {
      margin: 0 !important;
      padding: 0 !important;

      max-width: 1000px;
  }
  .no-gutters>.col, .no-gutters>[class*=col-] {
  padding: 5px;
  
  }
  
  .div.col-md-2 {
  
  }
  .card {
      margin-top: 45px;
      border: none;
   
  }

  .card-img {
   height: 100%;
  }
  
  #card-button1 {
      background-color: #FFCC00;
      color: #353A50;
      border: #FFCC00;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 30px;
      height: 50px;
  }
  #card-button2 {
      background-color: #353A50;
      color: white;
      border: #353A50;
      width: 100%;
      height: 50px;
  }
  
span {
    margin-right: 5px;
   
  }

  .text {
      margin-left: 5px;
  }

  .pagnation {
      margin-bottom: 25px;
  }


  @media screen and (max-width: 1150px) {
    #search-filter {
        visibility: hidden;

    }

  }

  @media screen and (min-width: 1151px) {
    #mobile-search-filter {
        visibility: hidden;

    }

  }